@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  .AIMESSAGE table {
    border-collapse: collapse;
    width: 100%;
  }

  .AIMESSAGE th,
  .AIMESSAGE td {
    border: 1px solid rgb(var(--foreground-rgb));
    padding: 0.5rem;
    /* @apply text-left rounded-md; */
  }

  .AIMESSAGE th {
    background: rgb(var(--foreground-rgb));
    color: rgb(var(--background-start-rgb));
  }

  .AIMESSAGE td {
    @apply text-sm p-1 bg-transparent text-white;
  }

  .AIMESSAGE p {
    margin: 1rem 0;
  }

  .AIMESSAGE img {
    max-width: 100%;
  }

  .AIMESSAGE blockquote {
    border-left: 0.25rem solid rgb(var(--foreground-rgb));
    margin: 1rem 0;
    padding: 0 1rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .layout-width {
    @apply md:max-w-3xl lg:max-w-[40rem] xl:max-w-[48rem];
  }
}
